# Configuration du service de tâches
PORT=3002
MONGO_URI=mongodb://mongo-tasks:27017/tasks
JWT_SECRET=supersecretkey123
RABBITMQ_URL=amqp://rabbitmq:5672
PROJECT_SERVICE_URL=http://project-service:3001
